<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/styles.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <body class="crestimg">
        <div style="float:right; margin-right: 1%; margin-top: 0.5%; border-radius: 5px; background-color: white;">
            <h6>Get in touch:</h6>
            <h6 style="text-decoration: underline;">liamcravencottage@gmail.com</h6>
        </div>
        <div class="jumbotron">
            <h1 class="display-4">Welcome to the official Krack City FC fan page</h1>
            <h2>Your 2020 No Rules Cup Champions!</h2>
            <p class="lead">How's he come away with that then?</p>
            <hr class="my-4">
            <p>help here comes the kidler</p>
            <a class="btn btn-outline-info" href="{{ url_for('stats') }}" role="button">Learn more</a>
            <a class="btn btn-outline-dark" href="{{ url_for('rivals') }}" role="button">Club Rivals</a>
            <a class="btn btn-outline-success" href="{{ url_for('team') }}" role="button">Meet the Team</a>
            <a class="btn btn-outline-warning" href="{{ url_for('moments') }}" role="button">Moments</a>
            <a class="btn btn-warning" href="{{ url_for('clubfish') }}" role="button">Club Fish</a>
            <p class="paragraph">Formed in early 2020 at the rise of COVID-19, Krack City Football Club have come a long way since their inception. 
                Working their way up from division 10 to a comfortable division 4 level, they have completed 30 seasons and finally won the No Rules Cup.
            </p>
        </div>
    </body>
</html>
